section.other
    height: 536px
    .box
        position: relative
        margin: 0 auto
        height: 408px
        max-width: 1360px
        background-color: $grey-900
        text-align: center
        border-radius: 8px
        .item
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            max-width: 555px
        button
            margin-bottom: 45px
    .box *
        margin: 15px