header
    overflow: hidden
    display: grid
    @media only screen and (max-width: $mobile)
        grid-template-columns: 1fr
        // grid-template-columns: 400px
        // width: 100%
        grid-template-row: 1fr
        height: 800px
    @media only screen and (min-width: $deskop)
        grid-template-columns: 1fr 1fr
        grid-template-row: 1fr
        height: 800px
    .left
        position: relative
        background-color: $grey-900
        @media only screen and (min-width: $deskop)
            grid-column: 1/2
        @media only screen and (max-width: $mobile)
            grid-row: 1/2
            padding: 100px 0
        .box
            position: absolute
            @media only screen and (min-width: $deskop)
                width: 553px
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
            @media only screen and (max-width: $mobile)
                top: 50%
                transform: translateY(-50%)

        .box > *
            margin: 23px
    .right
        position: relative
        // overflow: hidden
        @media only screen and (min-width: $deskop)
            grid-column: 2/3
        @media only screen and (max-width: $mobile)
            grid-row: 1/2
header .img
    height: 100%
    width: 100%
    background-image: url(../img/Image@2x-6.jpg)
    background-size: cover
    background-position: center
