header
    overflow: hidden
    display: grid
    @media only screen and (max-width: $mobile)
        grid-template-columns: 1fr
        grid-template-row: 500px 400px
        height: 900px
        margin-top: 60px
    @media only screen and (min-width: $deskop)
        grid-template-columns: 1fr 1fr
        grid-template-row: 1fr
        height: 800px
    .left
        position: relative
        background-color: $grey-900
        @media only screen and (min-width: $deskop)
            grid-column: 1/2
        @media only screen and (max-width: $mobile)
            grid-row: 2/3
            padding: 230px 0
        .box
            position: absolute
            @media only screen and (min-width: $deskop)
                width: 553px
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
            @media only screen and (max-width: $mobile)
                top: 50%
                transform: translateY(-50%)
            @media only screen and (min-width: 500px) and (max-width: 600px)
                margin: 0 80px
            @media only screen and (min-width: 601px) and (max-width: 750px)
                margin: 0 120px
            @media only screen and (min-width: 751px) and (max-width: 900px)
                margin: 0 200px
            @media only screen and (min-width: 901px) and (max-width: 1000px)
                margin: 0 220px
            @media only screen and (min-width: 1001px) and (max-width: 1100px)
                margin: 0 250px
            @media only screen and (min-width: 1101px) and (max-width: 1200px)
                margin: 0 280px
            p
                line-height: 18px
                @media only screen and (min-width: $deskop)
                    line-height: 30px
        .box > *
            margin: 23px
    .right
        position: relative
        @media only screen and (min-width: $deskop)
            grid-column: 2/3
        @media only screen and (max-width: $mobile)
            grid-row: 1/2
            height: 450px
header .img
    height: 100%
    width: 100%
    background-image: url(../img/Image@2x-6.jpg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    @media only screen and (min-width: 800px) and (max-width: 900px)
        background-size: cover
        background-position: 0 -120px
    @media only screen and (min-width: 901px) and (max-width: 1000px)
        background-size: cover
        background-position: 0 -150px
    @media only screen and (min-width: 1001px) and (max-width: 1200px)
        background-size: cover
        background-position: 0 -200px
