nav
    @media only screen and (min-width: $deskop)
        width: 100%
        height: 100px
        background-color: $white
    .nav_deskop
        position: relative
        width: 80%
        height: 100px
        display: flex
        align-items: center
        justify-content: flex-end
        margin: 0 auto
        @media only screen and (min-width: 1360px)
            width: 1360px
        img
            position: absolute
            top: 50%
            transform: translateY(-50%)
            @media only screen and (max-width: $mobile)
                right: 0
            @media only screen and (min-width: $deskop)
                left: 0
        ul > li
            @media only screen and (min-width: $deskop)
                display: inline
                margin-left: 48px
        p
            position: absolute
            left: 0
            font-size: 30px
            cursor: pointer
            padding: 40px
            i
                position: relative
                cursor: pointer

nav .nav_mobile
    @media only screen and (max-width: $mobile)
        background-color: $white
        width: 250px
        height: 300px
        position: absolute
        top: 100px
        left: -300px
        z-index: 1
    ul > li
        @media only screen and (max-width: $mobile)
            margin: 40px
            list-style: none
.show
    @media only screen and (max-width: $mobile)
        left: 0 !important
