section.other
    height: 536px
    .box
        overflow: hidden
        position: relative
        margin: 0 auto
        height: 408px
        max-width: 1360px
        background-color: $grey-900
        text-align: center
        border-radius: 8px
        @media only screen and (max-width: $mobile)
            border-radius: 0
        .item
            position: absolute
            top: 50%
            left: calc(50% -  20px)
            transform: translate(-50%, -50%)
            max-width: 555px
            @media only screen and (max-width: $mobile)
                width: 100%
            h2
                line-height: 48px
                margin-bottom: 20px
                @media only screen and (max-width: $mobile)
                    line-height: 28px
            p.text
                line-height: 28px
                @media only screen and (max-width: $mobile)
                    line-height: 18px
            p.poppins
                font-family: 'Poppins'
                font-weight: 500
                font-size: 14px
                list-height: 24px
                letter-spacing: 1px

        button
            margin-bottom: 45px
    .box *
        margin: 15px